<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document Shared</title>
        <style>
            html,
            body {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }

            body {
                font-family: Arial, sans-serif;
                line-height: 1.6;
                padding: 2rem;
                color: #eee;
                background-color: #1a1a1a;
            }

            a:link,
            a:visited {
                font-family: Arial, sans-serif;
                font-size: 1rem;
                color: white;
                padding: 0.25rem 0.5rem;
                text-decoration: none;
                display: inline-block;
                border-radius: 0.5rem;
            }

            a:hover,
            a:active {
                background-color: #333333;
            }

            table {
                border-collapse: collapse;
                border-spacing: 1rem 0px;
            }

            table tr {
                border-bottom: solid 1px #ccc;
            }

            table tr:nth-child(even) {
                background-color: #222222;
            }

            table th,
            td {
                padding: 0.25rem 1rem;
            }

            h1 {
                font-size: 3rem;
                color: #fff;
                border-bottom: 1px solid hsla(0, 0%, 93%, 0.8);
            }

            h2,
            h3 {
                color: #eee;
                margin-bottom: 2rem;
            }

            h3 {
                border-bottom: 1px solid hsla(0, 0%, 93%, 0.8);
            }

            h4,
            h5,
            h6 {
                color: #aaa;
                border-bottom: 1px solid hsla(0, 0%, 67%, 0.2);
            }

            p {
                margin: 10px 0;
            }

            /* For all <code> */
            code {
                font-family: MyFancyCustomFont, monospace;
                font-size: inherit;
            }

            /* Code in text */
            p > code,
            li > code,
            dd > code,
            td > code {
                background: #141414;
                word-wrap: break-word;
                box-decoration-break: clone;
                padding: 0.1rem 0.3rem 0.2rem;
                border-radius: 0.2rem;
            }
        </style>
    </head>
    <body>
        <!-- TODO: Add a banner image -->
        <h1>Hello, <%= recipientName %>!</h1>
        <p>You've been invited to view a document by <%= senderName %>.</p>
        <p>Click <a href="<%= documentLink %>">here</a> to access it.</p>
    </body>
</html>
